.about-container{
    width:50px;
    height:100%;
    display:flex;
    flex-direction: row;
}
.content{
    position:absolute;
    left:15%;
    top:20%;
    width:30%;
    max-height:90%;
    color: white;
    font-size:20px;
    animation: drop-in 2s ease 200ms backwards;
    z-index:1;
    overflow:hidden;
}
button{
    border-radius:40px;
    height:40px;
    background-color: #0d0e0e;
    color:#fff;
   }
   button:hover{
    box-shadow: 0 0 5px #ffee10;
    border-radius: 30px;
    text-shadow: 0 0 5px #ffee10;
   }

@keyframes drop-in {
    from {
     opacity: 0;
     transform: translateY(-100px);
    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }


.img{
    bottom:85%;
    position:absolute;
    z-index:-1;
    width:30px;
    height:20px;
    right:50%;
    display: block;
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    transition:cubic-bezier(0.165, 0.84, 0.44, 1);
}
@keyframes drop-out {
    from {
     opacity: 0;
     transform: translateY(100px);

    }
    to {
     opacity: 1;
     transform: translate(0px);
    }
   }



@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); } 
}

@media screen and (max-width: 600px){
    .content{
        left:25%;
        overflow:auto;
        width:70%;
    }
    img{
        
        height:200px;
        width:250px;
    }
    .img{
        top:5%;
    }
}