.nav-bar{
    background : #181818;
    width:100px;
    height:100%;
    position:absolute;
    top:0;
    z-index:3;
    min-height:500px;
    display: flex;
    flex-direction:column;

}
.logo{
    display:block;
    padding: 10px 0;

    img{
        display:block;
        margin:8px auto;
        width:100px;
        height:auto;
    }

}

nav{
    display:flex;
    flex-direction: column;
    font-size:22px;
    text-align:center;
    position:absolute;
    height:210px;
    top:50%;
    margin-top:-120px;
    width:100%;

    a{
        font-size:22px;
        color:#ded717;
        display:block;
        line-height:51px;
        position:relative;
        text-decoration:none;

        i{
            transition: all 0.3s ease-out;
        }

        &:hover{
            
            box-shadow: 0 0 5px #ffee10;
            border-radius: 30px;
            text-shadow: 0 0 5px #ffee10;

            svg{
                opacity:0;
            }

            &:after{
                opacity:1;
            }
        }
        &:after{
            content: '';
            position: absolute;
            font-size:15px;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 50%;
            opacity:0;
            transform: scale(.9);
            z-index: -1;
            -webkit-transition:all 0.3s ease-out;
            transition:all 0.3s ease-out;
        }
        &:first-child {
            &:after{
                content:'HOME';
            }
        }

       
    }
    a.about-link{
        &:after{
            content:'ABOUT';
        }
    }
    a.contact-link{
        &:after{
            content:'CONTACT';
        }
    }
    a.project-link{
        &:after{
            content:'Projects';
        }
    }
    

}

ul{
    position:absolute;
    bottom:20px;
    width:100%;
    display:block;
    height:auto;
    padding:0;
    list-style: none;
    text-align: center;
    li{
        a{
            display:block;
            font-size:20px;
            padding:7px 0;
            line-height:16px;
            color:#4d4d4e;
            transition: transform .2s; /* Animation */
        }
        &:hover svg{
            color: rgb(237, 253, 16);
            
            transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        }
    }
}

